
@media (max-width: 766px) {
  .md-mb-1 {
    margin-bottom: 15px;
  }
}
nb-card {
  height: 100%;
}


::ng-deep .leaflet-top,
::ng-deep .leaflet-bottom {
  z-index: 997;
}

::ng-deep .leaflet-container {
  width: 100%;
  height: 100%;
}

::ng-deep .leaflet-control-zoom a {
  text-decoration: none;
}

.row:not(:last-child) {
  margin-bottom: 30px;
}

.container{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }
  
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
