<!-- <div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col">
        <nb-card style="max-height: 25dvh">
          <nb-card-header> Deine Flotte </nb-card-header>
          <nb-card-body>
            <h2>{{ vehicles.size }} Fahrzeuge</h2>
            Gelieferte Datenpunkte: {{ getDatapointCount() }}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col" style="max-height: 25dvh">
        <nb-card>
          <nb-card-header> Durchschnittsdistanz </nb-card-header>
          <nb-card-body>
            <div
              echarts
              [options]="echartOptions"
              [merge]="echartMerge"
              style="height: 100%"
            ></div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col" style="height: 25dvh">
        <nb-card>
          <nb-card-header> Kilometerstand </nb-card-header>
          <nb-card-body class="p-0">
            <div
              echarts
              [options]="echartOptions2"
              [merge]="echartOptions2Merge"
              style="height: 100%"
            ></div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
  <div class="col">
    <ngx-geo-location></ngx-geo-location>
  </div>
</div>
<div class="row">
  <div class="col" style="max-height: 20dvh">
    <ngx-information-ticker></ngx-information-ticker>
  </div>
</div> -->

<gridster [options]="options">
  <gridster-item [item]="dashboard[1]">
    <ngx-data-count></ngx-data-count>
  </gridster-item>
  <gridster-item [item]="dashboard[2]">
    <ngx-average-distance></ngx-average-distance>
  </gridster-item>
  <gridster-item [item]="dashboard[3]">
    <ngx-fuel-level></ngx-fuel-level>
  </gridster-item>
  <gridster-item
    [item]="dashboard[0]"
    (itemResize)="onResize(dashboard[0])"
  >
    <ngx-geo-location></ngx-geo-location>
  </gridster-item>

  <gridster-item [item]="dashboard[4]">
    <ngx-information-ticker></ngx-information-ticker>
  </gridster-item>


  <!--


  <gridster-item [item]="dashboard[3]">
    <ngx-milage></ngx-milage>
  </gridster-item>

  <gridster-item [item]="dashboard[5]">
    <ngx-environment-temperature></ngx-environment-temperature>
  </gridster-item> -->
</gridster>
