<!-- <div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col">
        <nb-card style="max-height: 25dvh">
          <nb-card-header> Deine Flotte </nb-card-header>
          <nb-card-body>
            <h2>{{ vehicles.size }} Fahrzeuge</h2>
            Gelieferte Datenpunkte: {{ getDatapointCount() }}
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col" style="max-height: 25dvh">
        <nb-card>
          <nb-card-header> Durchschnittsdistanz </nb-card-header>
          <nb-card-body>
            <div
              echarts
              [options]="echartOptions"
              [merge]="echartMerge"
              style="height: 100%"
            ></div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
    <div class="row">
      <div class="col" style="height: 25dvh">
        <nb-card>
          <nb-card-header> Kilometerstand </nb-card-header>
          <nb-card-body class="p-0">
            <div
              echarts
              [options]="echartOptions2"
              [merge]="echartOptions2Merge"
              style="height: 100%"
            ></div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
  <div class="col">
    <ngx-geo-location></ngx-geo-location>
  </div>
</div>
<div class="row">
  <div class="col" style="max-height: 20dvh">
    <ngx-information-ticker></ngx-information-ticker>
  </div>
</div> -->

<gridster [options]="options">
  <gridster-item [item]="dashboard[1]" [class.maximized]="max === 1">
    <nb-icon
      [icon]="max === 1 ? 'collapse-outline' : 'expand-outline'"
      pack="eva"
      (click)="max = max === 1 ? undefined : (max = 1); resizeInterval()"
      class="enlarge-handle"
    ></nb-icon>
    <ngx-data-count></ngx-data-count>
  </gridster-item>
  <gridster-item [item]="dashboard[2]" [class.maximized]="max === 2">
    <nb-icon
      [icon]="max === 1 ? 'collapse-outline' : 'expand-outline'"
      pack="eva"
      (click)="max = max === 2 ? undefined : (max = 2); resizeInterval()"
      class="enlarge-handle"
    ></nb-icon>
    <ngx-average-distance></ngx-average-distance>
  </gridster-item>
  <gridster-item [item]="dashboard[3]" [class.maximized]="max === 3">
    <nb-icon
      [icon]="max === 1 ? 'collapse-outline' : 'expand-outline'"
      pack="eva"
      (click)="max = max === 3 ? undefined : (max = 3); resizeInterval()"
      class="enlarge-handle"
    ></nb-icon>
    <ngx-fuel-level></ngx-fuel-level>
  </gridster-item>
  <gridster-item
    [item]="dashboard[0]"
    (itemResize)="onResize(dashboard[0])"
    [class.maximized]="max === 0"
  >
    <nb-icon
      [icon]="max === 1 ? 'collapse-outline' : 'expand-outline'"
      pack="eva"
      (click)="max = max === 0 ? undefined : (max = 0); resizeInterval()"
      class="enlarge-handle"
    ></nb-icon>
    <ngx-geo-location></ngx-geo-location>
  </gridster-item>

  <gridster-item [item]="dashboard[4]" [class.maximized]="max === 4">
    <nb-icon
      [icon]="max === 1 ? 'collapse-outline' : 'expand-outline'"
      pack="eva"
      (click)="max = max === 4 ? undefined : (max = 4); resizeInterval()"
      class="enlarge-handle"
    ></nb-icon>
    <ngx-information-ticker></ngx-information-ticker>
  </gridster-item>

  <!--


  <gridster-item [item]="dashboard[3]">
    <ngx-milage></ngx-milage>
  </gridster-item>

  <gridster-item [item]="dashboard[5]">
    <ngx-environment-temperature></ngx-environment-temperature>
  </gridster-item> -->
</gridster>
