<h1 id="title" class="title">Hallo Gwen!</h1>

<nb-card size="medium">
  <nb-card-header>
    Kundensysteme
  </nb-card-header>
  <nb-list>
    <nb-list-item *ngFor="let system of (systems | async)" class="system-entry" (click)="selectSystem(system.id)">
      <span style="flex:1">{{ system.name }}</span>
      <nb-icon icon="arrow-forward-outline"></nb-icon>
    </nb-list-item>
  </nb-list>
  <nb-card-footer>
    <button nbButton status="primary" (click)="createCustomerSystem()" fullWidth>
      Neues System erstellen
      <nb-icon icon="plus-outline"></nb-icon>
    </button>

  </nb-card-footer>
</nb-card>

