@import '@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    margin-right: 80px;
    flex: 1;
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;


    .logo {
      padding: 0 1.25rem;
      white-space: nowrap;
      text-decoration: none;
      font-size: 1.25rem;
      @media (min-width: 576px) {
        font-size: 1.75rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  nb-action {
    cursor: pointer;
    &:hover * {
      color: nb-theme(primary)
    }
  }

}
