<div class="header-container">
  <div class="logo-container">
   
    <div>
      <a class="logo" href="#" (click)="navigateHome()"> DataAppetizer
      </a> 
    </div>
  </div>

  <div>
    <nb-actions>
      <nb-action (click)="navigateHome()">
        <nb-icon icon="home-outline" style="margin-right: 5px"></nb-icon>
        Home
      </nb-action>
      <nb-action (click)="navigateToCars()">
        <nb-icon icon="car-outline" style="margin-right: 5px"></nb-icon>
        Fahrzeuge
      </nb-action>
      <nb-action (click)="navigateToSettings()">
        <nb-icon icon="settings-2-outline" style="margin-right: 5px"></nb-icon>
        Einstellungen
      </nb-action>
    </nb-actions>
  </div>
</div>
