@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes';

// TODO: Irgendwas ist mit den imports komisch, das das mehrfach drin inst
$nb-themes: nb-register-theme(
  (
    layout-padding-top: 2.25rem,
    menu-item-icon-margin: 0 0.5rem 0 0,
    card-height-tiny: 13.5rem,
    card-height-small: 21.1875rem,
    card-height-medium: 28.875rem,
    card-height-large: 36.5625rem,
    card-height-giant: 44.25rem,
    card-margin-bottom: 1.875rem,
    card-header-with-select-padding-top: 0.5rem,
    card-header-with-select-padding-bottom: 0.5rem,
    select-min-width: 6rem,
    slide-out-background: #f7f9fc,
    slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
    slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  ),
  default,
  default
);

.pointer {
  cursor: pointer;
}

nb-icon:focus, // TODO:
.mat-fab:focus {
  outline: 0;
}

router-outlet + * {
  height: 100%;
}

nb-search-field {
  &,
  & > * {
    background: #edf1f7 !important; //TODO: Color
  }
  .search input {
    border-bottom: 1px solid #8f9bb3 !important; //TODO:
  }
}

nb-layout.window-mode.rotate-layout {
  nb-layout-header.fixed {
    top: 0 !important;
  }
  nb-sidebar .main-container-fixed {
    top: 4.75rem !important;
  }
}

nb-chat {
  // width: 500px;
  --chat-divider-width: 2px;
  overflow: hidden;
  .header {
    border-radius: unset !important;
  }
}


.drop-zone {
  border-radius: 4px;
  color: #edf1f7; //TODO:
  border: 2px solid;
}

nb-sidebar nb-menu .menu-item {
  &.menu-group {
    transition: border 0.3s ease, padding 0.3s ease, opacity 0.3s ease !important;
    opacity: 1;
    &,
    nb-icon.menu-icon {
      color: #8f9bb3 !important;
    }
  }
  .menu-icon {
    min-width: 1em;
  }
  span {
    display: block !important;
    opacity: 1 !important;
    transition: opacity 0.3s ease;
    height: 24px !important;
  }
  .menu-items {
    transition: max-height 0.3s ease !important;
    max-height: 200px; //Irgend ein großer wert, der nah am echten wert ist, workaround weil height=auto nicht animiert
  }
}

nb-sidebar.compacted nb-menu {
  width: 16rem !important;
  .menu-item {
    &.menu-group {
      padding: 0 1rem !important;
      width: unset !important;
      opacity: 0;
    }
    span,
    nb-badge,
    .expand-state {
      display: block !important;
      opacity: 0 !important;
    }
    .expanded {
      display: block !important;
      max-height: 0;
    }
  }
}
