<nb-stepper
  orientation="horizontal"
  [disableStepNavigation]="true"
  [selectedIndex]="selectedIndex"
>
  <nb-step label="Systemname" [completed]="true">
    <nb-card>
      <nb-card-body>
        <h2>Wählen Sie einen Namen für das Kundensystem</h2>
        <input
          nbInput
          fullWidth
          placeholder="Systemname"
          [(ngModel)]="systemName"
        />
      </nb-card-body>
      <nb-card-footer style="display: flex; justify-content: end; gap: 15px">
        <button nbButton status="primary" (click)="next()">Weiter</button>
      </nb-card-footer>
    </nb-card>
  </nb-step>
  <nb-step label="Datenvisualisierung">
    <nb-card>
      <nb-card-body style="padding: 0">
        <nb-layout class="transparent fullheight">
          <nb-layout-column>
            <nb-tabset>
              <nb-tab tabTitle="Allgemeiner Überblick">
                <nb-list>
                  <nb-list-item
                    *ngFor="let dashboardConfig of dashboardConfigs"
                    style="gap: 5px"
                    (mouseenter)="loadVisualization(dashboardConfig)"
                  >
                    <nb-checkbox
                      [(checked)]="dashboardConfig.selected"
                    ></nb-checkbox
                    >{{ dashboardConfig.name }}
                  </nb-list-item>
                </nb-list>
              </nb-tab>
              <nb-tab tabTitle="Fahrzeugübersicht">
                <nb-list> </nb-list>
              </nb-tab>
            </nb-tabset>
          </nb-layout-column>
          <nb-layout-column>
            <ng-template visualizationHost></ng-template>
          </nb-layout-column>
        </nb-layout>
      </nb-card-body>
      <nb-card-footer style="display: flex; justify-content: end; gap: 15px">
        <button nbButton status="secondary" (click)="previous()">Zurück</button>
        <button nbButton status="primary" (click)="finish()">Weiter</button>
      </nb-card-footer>
    </nb-card>
  </nb-step>
</nb-stepper>
