<nb-stepper
  orientation="horizontal"
  [disableStepNavigation]="true"
  [selectedIndex]="selectedIndex"
>
  <nb-step label="Systemname" [completed]="true">
    <nb-card>
      <nb-card-body>
        <h2>Wählen Sie einen Namen für das Kundensystem</h2>
        <input
          nbInput
          fullWidth
          placeholder="Systemname"
          [(ngModel)]="systemName"
        />

        <h2>Wählen Sie eine Organisation aus dem CARUSO dataplace</h2>

        <nb-select placeholder="Select Showcase" [(selected)]="organization">
          <nb-option value="">Option empty</nb-option>
          <nb-option value="0">Option 0</nb-option>
          <nb-option value="1">Option 1</nb-option>
          <nb-option value="2">Option 2</nb-option>
          <nb-option value="3">Option 3</nb-option>
          <nb-option value="4">Option 4</nb-option>
        </nb-select>
      </nb-card-body>
      <nb-card-footer style="display: flex; justify-content: end; gap: 15px;">
        <button nbButton status="primary" (click)="next()">Weiter</button>
      </nb-card-footer>
    </nb-card>
  </nb-step>
  <nb-step label="Datenvisualisierung">
    <nb-card>
      <nb-card-body>
        <nb-layout>
          <nb-layout-column>
            <nb-tabset>
              <nb-tab tabTitle="Allgemeiner Überblick">
                <nb-list>
                  <nb-list-item
                    *ngFor="let dashboardConfig of dashboardConfigs"
                    style="gap: 5px"
                    (mouseover)="hoveredChart = dashboardConfig"
                  >
                    <nb-checkbox
                      [(checked)]="dashboardConfig.selected"
                    ></nb-checkbox
                    >{{ dashboardConfig.name }}
                  </nb-list-item>
                </nb-list>
              </nb-tab>
              <nb-tab tabTitle="Fahrzeugübersicht">
                <nb-list>
                  <nb-list-item
                    *ngFor="let carConfig of carConfigs"
                    style="gap: 5px"
                    (mouseover)="hoveredChart = carConfig"
                  >
                    <nb-checkbox [(checked)]="carConfig.selected"></nb-checkbox>
                    {{ carConfig.name }}
                  </nb-list-item>
                </nb-list>
              </nb-tab>
            </nb-tabset>
          </nb-layout-column>
          <nb-layout-column>
            
            <ng-container *ngIf="hoveredChart?.chart" >
             
              <div  [@fadeInOut]  echarts [options]="hoveredChart!.chart!" class="echart"></div>  
            </ng-container>
            
          
          </nb-layout-column>
        </nb-layout>
      </nb-card-body>
      <nb-card-footer style="display: flex; justify-content: end; gap: 15px;">
        <button nbButton status="secondary" (click)="previous()">Zurück</button>
        <button nbButton status="primary" (click)="finish()">Weiter</button>
      </nb-card-footer>
    </nb-card>
  </nb-step>
</nb-stepper>
