<nb-stepper orientation="horizontal" [disableStepNavigation]="true" [selectedIndex]="selectedIndex">
  <nb-step label="System name">
    <nb-card>
      <nb-card-header>
        <h2>Please choose a name for your new system and set the vehicle subscription</h2>
        <span class="caption-2">The name is used for identifying the system. The subscription defines which vehicles are later displayed. It can be looked up in the Caruso Marketplace.</span>
      </nb-card-header><!--TODO: Validation-->
      <nb-card-body>
        <nb-layout class="transparent fullheight">
          <nb-layout-column style="display: flex; justify-content: center; align-items: center">
            <div style="
                gap: 30px;
                display: flex;
                flex-direction: column;
                width: 50%;
              ">
              <div>
                <label for="systemname">System name</label>
                <nb-form-field>
                  <input id="systemname" nbInput fullWidth placeholder="System name" [(ngModel)]="systemName" />
                </nb-form-field>
              </div>
              <div>
                <label for="subscriptionId">Subscription-ID</label>
                <nb-form-field>
                  <input id="subscriptionId" nbInput fullWidth placeholder="Subscription ID"
                    [(ngModel)]="subscriptionId" />
                </nb-form-field>
              </div>
            </div>
          </nb-layout-column>
        </nb-layout>
      </nb-card-body>
      <nb-card-footer style="display: flex; justify-content: end; gap: 15px">
        <button nbButton status="primary" (click)="next()"
          [disabled]="subscriptionId === '' || systemName===''">Next</button>
      </nb-card-footer>
    </nb-card>
  </nb-step>
  <!-- <nb-step label="Zugänge">
    <nb-card>
      <nb-card-header>
        <h2>Erstellen Sie die Zugänge für das Kundensystem</h2>
        <span class="caption-2"
          >Zugänge bestimmen, wer mit dem System interagieren darf</span
        >
      </nb-card-header>
      <nb-card-body>
        <nb-layout class="transparent fullheight">
          <nb-layout-column
            style="display: flex; justify-content: center; align-items: center"
          >
            <div
              style="
                gap: 30px;
                display: flex;
                flex-direction: column;
                width: 50%;
              "
            >
              TODO:
            </div>
          </nb-layout-column>
        </nb-layout>
      </nb-card-body>
      <nb-card-footer style="display: flex; justify-content: end; gap: 15px">
        <button nbButton status="secondary" (click)="previous()">Zurück</button>
        <button nbButton status="primary" (click)="next()">Weiter</button>
      </nb-card-footer>
    </nb-card>
  </nb-step> -->
  <nb-step label="Visualizations">
    <nb-card>
      <nb-card-header>
        <h2>Choose your visualizations</h2>
        <span class="caption-2">A visualization defines what and how vehicle data is being displayed to you.
          The preview shows an example how a visualization will later be displayed.</span>
      </nb-card-header>
      <nb-card-body style="padding: 0">
        <nb-layout class="transparent fullheight">
          <nb-layout-column>
            <h5 style="margin-top: 0%; margin-bottom: 3%;">Dashboard</h5>
            <nb-list>
              <nb-list-item *ngFor="let dashboardConfig of configs" style="gap: 5px"
                (mouseenter)="loadVisualization(dashboardConfig)"><!--TODO: filter kind-->
                <nb-checkbox *ngIf="dashboardConfig.id == 'data-count' || dashboardConfig.id == 'information-ticker' || dashboardConfig.id == 'geo-location'" [(checked)]="dashboardConfig.selected" disabled>{{ dashboardConfig.name }}</nb-checkbox>
                <nb-checkbox *ngIf="dashboardConfig.id != 'data-count' && dashboardConfig.id != 'information-ticker' && dashboardConfig.id != 'geo-location'" [(checked)]="dashboardConfig.selected">{{ dashboardConfig.name }}</nb-checkbox>
              </nb-list-item>
            </nb-list>
          </nb-layout-column>
          <nb-layout-column>
            <h5 style="margin-top: 0%; margin-bottom: 3%">Preview</h5>
            <ng-template visualizationHost></ng-template>
          </nb-layout-column>
        </nb-layout>
      </nb-card-body>
      <nb-card-footer style="display: flex; justify-content: end; gap: 15px">
        <button nbButton status="secondary" (click)="previous()">Back</button>
        <button nbButton status="primary" (click)="createSystem()" *ngIf="!system">Create</button>
        <button nbButton status="primary" (click)="updateSystem()" *ngIf="system">Save</button>
      </nb-card-footer>
    </nb-card>
  </nb-step>
  <nb-step label="Finish">
    <nb-card>
      <nb-card-header>
        <h2>Your system is ready</h2>
        <span class="caption-2">Copy these values into the Marketplace to allow us to receive your vehicle data</span>
      </nb-card-header>
      <nb-card-body>
        <nb-layout class="transparent fullheight">
          <nb-layout-column style="display: flex; justify-content: center; align-items: center">
            <div style="
                gap: 30px;
                display: flex;
                flex-direction: column;
                width: 50%;
              ">
              <ng-template #copiedRef>
                <div style="padding: 15px">
                  <span>Copied!</span>
                </div>
              </ng-template>
              <div>
                <label for="webhook">Push-Url</label>
                <nb-form-field>
                  <input id="webhook" nbInput fullWidth readonly [value]="'localhost:3001/webhook/'+system?.id" />
                  <button nbSuffix nbButton ghost (click)="copyToClipboard('localhost:3000/webhook/'+system?.id)"
                    [nbPopover]="copiedRef" nbPopoverPlacement="right"><!--TODO: actual values-->
                    <nb-icon [icon]="'clipboard-outline'" pack="eva"> </nb-icon>
                  </button>
                </nb-form-field>
              </div>

              <div>
                <label for="secret">Secret</label>
                <nb-form-field>
                  <input id="secret" nbInput fullWidth readonly [value]="system?.secret" />
                  <button nbSuffix nbButton ghost (click)="copyToClipboard(system?.secret)" [nbPopover]="copiedRef"
                    nbPopoverPlacement="right">
                    <nb-icon [icon]="'clipboard-outline'" pack="eva"> </nb-icon>
                  </button>
                </nb-form-field>
              </div>
              <button nbButton status="primary" (click)="finish()" fullWidth>
                To System
              </button>
            </div>
          </nb-layout-column>
        </nb-layout>
      </nb-card-body>
    </nb-card>
  </nb-step>
</nb-stepper>
