<h3 style="margin-left: 50px;">Vehicles</h3>
<nb-layout>
  <nb-layout-column>
    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
        <ng-container matColumnDef="vin">
            <mat-header-cell *matHeaderCellDef>VIN</mat-header-cell>
            <mat-cell *matCellDef="let car">{{car.vin}}</mat-cell>
        </ng-container>

<!--         <ng-container matColumnDef="oem">
            <mat-header-cell *matHeaderCellDef>Hersteller</mat-header-cell>
            <mat-cell class="oem-cell"
                      *matCellDef="let car">{{car.oem}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="drive">
            <mat-header-cell *matHeaderCellDef>Antriebstyp</mat-header-cell>
            <mat-cell class="drive-cell"
                      *matCellDef="let car">{{car.drive}}</mat-cell>
        </ng-container> -->

        <ng-container matColumnDef="mileage">
            <mat-header-cell *matHeaderCellDef>Mileage</mat-header-cell>
            <mat-cell class="mileage-cell"
                      *matCellDef="let car">{{car.mileage}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="fuellevel">
            <mat-header-cell *matHeaderCellDef>Fuellevel (%)</mat-header-cell>
            <mat-cell class="fuel-cell"
                      *matCellDef="let car">{{car.fuellevel}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="enginestatus">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell class="enginestatus-cell"
                      *matCellDef="let car">{{car.enginestatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef>Important Messages</mat-header-cell>
            <mat-cell class="icon-cell"
                      *matCellDef="let car">
                      <div [nbPopover]="controlmessages" nbPopoverTrigger="hover">
                        <nb-icon icon={{car.icon}}></nb-icon>
                      </div>
                      <ng-template #controlmessages>
                        <nb-list>
                          <nb-list-item *ngFor="let item of car.controlmessages">{{item}}</nb-list-item>
                        </nb-list>
                      </ng-template>
                    </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastupdated">
            <mat-header-cell *matHeaderCellDef>Last updated</mat-header-cell>
            <mat-cell class="lastupdated-cell"
                      *matCellDef="let car">{{car.lastupdated}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns"
        (click)="onRowClicked(row)"></mat-row>

    </mat-table>
  </nb-layout-column>
