<h3>Fahrzeuge</h3>
<div>
    <div class="spinner-border" role="status" >
        <span class="sr-only" id="loading"></span>
      </div>
    <div>
        <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">
            <ng-container matColumnDef="vin">
                <mat-header-cell *matHeaderCellDef>VIN</mat-header-cell>
                <mat-cell *matCellDef="let car">{{car.vin}}</mat-cell>
            </ng-container>

        <ng-container matColumnDef="mileage">
            <mat-header-cell *matHeaderCellDef>Kilometerstand</mat-header-cell>
            <mat-cell class="mileage-cell"
                      *matCellDef="let car">{{car.mileage}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="batteryvoltage">
            <mat-header-cell *matHeaderCellDef>Batterieladestand</mat-header-cell>
            <mat-cell class="batteryvoltage-cell"
                      *matCellDef="let car">
                      <mat-progress-bar mode="determinate" value="40" *matCellDef="let car"></mat-progress-bar>
                      {{car.batteryvoltage}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="engineStatus">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell class="engineStatus-cell"
                      *matCellDef="let car">{{car.engineStatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="controlmessages">
            <mat-header-cell *matHeaderCellDef>Wichtige Meldung</mat-header-cell>
            <mat-cell class="controlmessages-cell"
                      *matCellDef="let car">{{car.controlmessages}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="detail">
            <mat-header-cell *matHeaderCellDef>Zum Fahrzeug</mat-header-cell>
            <mat-cell class="detail-cell"
                      *matCellDef="let car">
                        <nb-action (click)="navigateToCarDetails(car.vin)">
                            <nb-icon icon="arrow-circle-right-outline"></nb-icon>
                        </nb-action>
            </mat-cell>
        </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
            <mat-row *matRowDef="let row; columns: displayedColumns"
            (click)="onRowClicked(row)"></mat-row>
        
        </mat-table>
    </div>
</div>
