@import '@nebular/theme/styles/global/breakpoints';
@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes';

@include nb-install-component() {

    .logo {
      padding: 0 1.25rem;
      white-space: nowrap;
      text-decoration: none;
      font-size: 1.25rem;
      @media (min-width: 576px) {
        font-size: 1.75rem;
      }
    }

}
