<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hello! Please login with your email address</p>

<form (ngSubmit)="login()" #form="ngForm">

  <div class="form-control-group">
    <label class="label" for="input-email">Email address:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.email"
           #email="ngModel"
           name="email"
           id="input-email"
           type="email"
           [placeholder]="'Email address'"
           fieldSize="large"
           autofocus
           [status]="'basic'">
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="user.password"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           [placeholder]="'Password'"
           fieldSize="large">
  </div>

  <button nbButton
          fullWidth
          status="primary"
          size="large"
          [disabled]="loggingIn || !form.valid"
          [class.btn-pulse]="loggingIn"
          [nbSpinner]="loggingIn">
          {{'Login'}}
  </button>
</form>
<div style="text-align:center; margin-top: 3%;">
  <a href="https://portal.caruso-dataplace.com/auth/login">Login through the Caruso Marketplace</a>
</div>
